:root {
  --body-color: #4c4c4c;
  --bg-color: #fff;
  --main-color: #50aeff;
  --hover-color: #2993ef;
  --sub-color: #2993ef;
  --form-bg-color: #fff;
  --burger-color: #000;
  --moon-shawod-color: #2993ef;
  /* --just: #8b9291; */
}
/* #50aeff  #4c4c4c  #5a8b85 #2993ef #9fc28e #12c931 #60e21f #2acc45 #9cb2b0 */
@import url(https://fonts.googleapis.com/css?family=Public+Sans:regular,500,700);

@font-face {
  font-family: "resume-icons";
  src: url("../fonts/resume-icons.eot?ajwqjl");
  src: url("../fonts/resume-icons.eot?ajwqjl#iefix") format("embedded-opentype"),
    url("../fonts/resume-icons.ttf?ajwqjl") format("truetype"),
    url("../fonts/resume-icons.woff?ajwqjl") format("woff"),
    url("../fonts/resume-icons.svg?ajwqjl#resume-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "resume-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-github:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e903";
}

._icon-home:before {
  content: "\e902";
}

._icon-contact:before {
  content: "\e91f";
}

._icon-works:before {
  content: "\e930";
}

._icon-skills:before {
  content: "\e995";
}

._icon-about:before {
  content: "\e9a2";
}

.fade_in_out {
  animation: fade linear 2s forwards;
  -webkit-animation: fade linear 2s forwards;
}

.fade-aside:first-child {
  animation: fade-aside ease-in 0.7s forwards;
  -webkit-animation: fade-aside ease-in 0.7s forwards;
}

.fade-aside:nth-child(2) {
  animation: fade-aside linear 1.3s forwards;
  -webkit-animation: fade-aside linear 1.3s forwards;
}

.fade-aside:last-child {
  animation: fade-aside linear 2s forwards;
  -webkit-animation: fade-aside linear 2s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  80% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes fade-aside {
  0% {
    opacity: 0;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
html,
body {
  background-color: var(--bg-color);
}
.popup_main_wrapper-form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(207, 207, 207, 0.5607843137);
  transition: all 0.7s ease;
  z-index: 100;
}

.popup_dialog-form {
  position: relative;
  margin-top: 100px;
  width: 450px;
  height: 200px;
  background-color: #f1f1eb;
  border-radius: 5px;
  box-shadow: 0 8px 25px #3d88c9;
}

.popup_modal-form {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup_title-form {
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  margin: 15px;
}

.popup_btn-form {
  position: relative;
  width: 140px;
  height: 44px;
  margin: 10px 0 0 0;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  outline: none;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #a0dbd7;
  overflow: hidden;
  transition: transform 0.5s ease;
  cursor: pointer;
  box-shadow: 0 0 9px black;
}

.popup_btn-form:hover {
  border: 2px solid rgb(28, 106, 102);
}

.popup_btn-form::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100px;
  background-color: #9aa69e;
  transform: rotate(90deg) translate(-108px, -15px);
  box-shadow: 0 3px 5px #fff;
}

.popup_close_btn-form {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 50px;
  bottom: -26px;
  right: 34px;
  width: 55px;
  height: 55px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
  z-index: 5;
  transform: rotate(45deg);
  transition: transform 0.7s ease;
}

.popup_close_btn-form::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 4px;
  background-color: #fff;
  transform: rotate(0);
  border-radius: 2px;
}

.popup_close_btn-form::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 4px;
  background-color: #fff;
  transform: rotate(90deg);
  border-radius: 2px;
}

.popup_active-form {
  opacity: 1;
  visibility: visible;
}

.popup__form {
  position: relative;
  width: 100%;
  /* .form__body */
  /* .form__item */
  /* .form__input */
}

.popup__form * {
  outline: none;
  border: none;
}

.popup__form::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(70, 94, 138, 0.5215686275)
    url("../../img/icons/send_second.svg") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.popup__form__label-wrapper {
  width: 100%;
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.popup__form__inputs-wrapper {
  display: flex;
  width: 100%;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding: 0 0 20px 0;
}

.popup__form__item {
  display: flex;
  width: 100%;
  margin: 0 0 20px;
  outline: none;
  border: none;
}

.popup__form__input {
  width: 100%;
  padding: 30px 10px;
  box-shadow: 0 0 4px var(--main-color);
  color: inherit;
  font-size: 22px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.popup__from {
  /* .from__label */
}

.popup__from__label {
  cursor: text;
  text-overflow: ellipsis;
  position: absolute;
  display: block;
  transform: translate(10px, 16px);
  -webkit-transform: translate(10px, 16px);
  -moz-transform: translate(10px, 16px);
  -ms-transform: translate(10px, 16px);
  -o-transform: translate(10px, 16px);
  font-size: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.popup__active_label {
  position: absolute;
  display: block;
  font-size: 16px;
  color: var(--main-color);
  text-shadow: 0 0 3px var(--main-color);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: translate(10px, 0);
  -webkit-transform: translate(10px, 0);
  -moz-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
}

.popup__button {
  /* .button__form */
}

.popup__button__form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.popup__button__form svg {
  margin: 0 0 0 10px;
}

.popup__button__form:active {
  top: 3px;
}

.popup_main_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.7s ease;
  z-index: 100;
}

.popup_dialog {
  position: relative;
  width: 450px;
  height: 144px;
  background-color: #f1f1eb;
  border-radius: 5px;
  box-shadow: 0 8px 25px #3d88c9;
}

.popup_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup_title {
  font-family: inherit;
  font-size: 22px;
  font-weight: 500;
  margin: 15px;
}

.popup_btn {
  position: relative;
  width: 140px;
  height: 44px;
  margin: 10px 0 0 0;
  border: 2px solid lightseagreen;
  border-radius: 5px;
  outline: none;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #a0dbd7;
  overflow: hidden;
  transition: transform 0.5s ease;
  cursor: pointer;
  box-shadow: 0 0 9px black;
}

.popup_btn:hover {
  border: 2px solid rgb(28, 106, 102);
}

.popup_btn::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100px;
  background-color: #9aa69e;
  transform: rotate(90deg) translate(-108px, -15px);
  box-shadow: 0 3px 5px #fff;
}

.popup_close_btn {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
  z-index: 5;
  transform: rotate(45deg);
  transition: transform 0.7s ease;
}

.popup_close_btn::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  background-color: #fff;
  transform: rotate(0);
  border-radius: 2px;
}

.popup_close_btn::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  background-color: #fff;
  transform: rotate(90deg);
  border-radius: 2px;
}

.popup_active {
  opacity: 1;
  visibility: visible;
}

.header {
  /* .header__content */
  /* .header__menu_wrapper */
  /* .header__menu_icon */
  /* header__nav */
  /* .header__ul */
  /* .header__li */
  /* .header__links */
}

.header__content {
  max-width: 1132px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__menu_wrapper {
  width: 100%;
  height: 85px;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.header__menu_inner-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  width: 100px;
}

.theme-switcher {
  /* border: 1px solid var(--main-color); */
  /* box-shadow: inset 0px 0px 20px var(--main-color); */
  padding: 4px 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.switcher {
  display: none;
}

.switcher-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 4px;
  background-image: url(../img/icons/moon_icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.switcher-label:hover {
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
}

.header__logo {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.header__menu_icon {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  z-index: 600;
  transition: margin 0.3s ease;
  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -ms-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
}

.header__menu_icon span {
  display: block;
  width: 34px;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: var(--burger-color);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.header__menu_icon span:nth-child(3) {
  margin: 0 0 0 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

.header__ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  height: 85px;
  padding: 10px 0;
}

.header__li {
  margin: 0 0 0 35px;
}

.header__li *:last-child() {
  margin: 0 0 0 0;
}

.header__links {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: var(--body-color);
  text-decoration: none;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.3s ease;
}

.header__links span {
  font-size: 24px;
}

.first_line {
  transform: translate(0, 9px);
  -webkit-transform: translate(0, 9px) rotate(45deg);
  -moz-transform: translate(0, 9px);
  -ms-transform: translate(0, 9px);
  -o-transform: translate(0, 9px);
}

.second_line {
  transform: translate(0, -7px) rotate(-45deg);
  -webkit-transform: translate(0, -7px) rotate(-45deg);
  -moz-transform: translate(0, -7px) rotate(-45deg);
  -ms-transform: translate(0, -7px) rotate(-45deg);
  -o-transform: translate(0, -7px) rotate(-45deg);
}

.third_line {
  transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
}

.slider {
  position: relative;
  max-width: 100%;
  text-align: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  padding: 0 0 60px 0;
  margin: 100px 0 0 0;
  /*.slider__window*/
}

.slider__sub-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 70px 15px 0 15px;
}

.slider__window {
  box-shadow: 0 0 5px var(--body-color);

  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 486px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 auto;
}

.slider__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider__wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  padding: 26px;
  background: #000000e0;
  left: 0;
  bottom: 0;
  margin: 0 0 30px 0;
}

.slider__description-title {
  font-size: 36px;
  font-weight: 900;
  color: #fff;
}

.slider__description-btn {
  margin-top: 10px;
  padding: 10px 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__description-btn svg {
  height: 15px;
}

.slider__description-text {
  color: #fff;
  text-align: left;
}

/* slider styles */

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #555555;
  font-size: 35px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 20px;
  font-size: 14px;
  background-color: var(--main-color);
}

/* end */



.hello {
  display: flex;
  margin: 0 auto;
  padding: 38px 0 70px 0;
  /* .hello__container */
  /* .hello__content */
  /* .hello__title */
  /* .hello__text */
  /* .hello__btn */
  /* .hello__avatar */
}

.hello__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.hello__social-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.hello__social-link {
  padding: 10px 0;
  opacity: 0;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
}

.hello .icon_social {
  font-size: 25px;
}

.hello__content {
  flex: 1 1 auto;
  align-items: flex-start;
  padding: 0 110px 0 50px;
}

.hello__content *:last-child {
  margin-bottom: 0;
}

.hello__title-wrapper {
  position: relative;
  overflow: hidden;
}

.hello__title {
  position: relative;
  display: block;
  margin: 0 0 10px 0;
  transition: all 1s ease;
}

.hello .sub_title {
  font-weight: 600;
  font-size: 18px;
}

.hello__text {
  padding: 0 0 15px 0;
}

.hello__text:first-child {
  font-weight: 500;
}

.hello__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 194px;
  color: #fff;
  padding: 15px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  margin: 15px 0 0 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.hello__btn svg {
  margin: 0 0 0 10px;
  width: 30px;
  height: 27px;
}

.hello__btn path {
  fill: #fff;
}

.hello__avatar {
  flex: 0 0 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 3px 5px #000;
}

.hello__avatar img {
  max-width: 100%;
}

/* swiper */
.swiper {
  width: 100%;
  position: relative;
  height: 100%;
  /* border: 1px solid #000; */
}
/* end-swiper */

.btn {
  background: var(--main-color);
  border-radius: 10px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.hello__avatar_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 250px;
  height: 100%;
}

.about {
  padding: 0 0 60px 0;
  margin: 150px 0 0 0;
  /* .about__container */
  /* .about__header */
  /* .about__title */
  /* .about__sub-title */
  /* .about__content */
  /* .about__img-wrapper */
  /* .about__info-container */
  /* .about__info-text */
  /* .about__experiance */
  /* .about__experiance-year */
  /* .about__resume */
}

.about__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__title {
  margin: 0 0 10px 0;
}

.about__sub-title {
  padding: 0 0 15px 0;
  font-weight: 600;
  font-size: 18px;
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 60px;
  column-gap: 60px;
  padding: 40px 0 0 0;
}

.about__wrapper-forimage {
  position: relative;
  display: flex;
  min-width: 340px;
  height: 100%;
  overflow: hidden;
}

.about__img-wrapper {
  flex: 0 0 340px;
  height: 250px;
}

.about__info-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.about__info-text {
  padding: 0 0 30px 0;
  line-height: 122.2222222222%;
  font-size: 18px;
}

.about__experiance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 30px 0;
}

.about__experiance-year {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100px;
}

.about__experiance-year span {
  display: block;
  text-align: center;
  font-size: 18px;
}

.about__btn-wrapper {
  display: flex;
}

.about__resume {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  padding: 15px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  margin: 15px 0 0 0;
}

.about__resume svg {
  margin: 0 0 0 10px;
}

.about__resume svg path {
  fill: #fff;
}

.sub {
  /* .sub_title */
}

.year {
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 20px 0;
}

.footer {
  text-align: center;
  padding: 50px 0;
  /* .footer__content */
  /* .footer__social */
  /* .footer__copy */
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 25px 0;
}

.social__item {
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  font-size: 30px;
  color: inherit;
  margin: 0 17px;
}

@font-face {
  font-family: "icons";
  src: url("fonts/icons.eot?32vdtu");
  src: url("fonts/icons.eot?32vdtu#iefix") format("embedded-opentype"),
    url("fonts/icons.ttf?32vdtu") format("truetype"),
    url("fonts/icons.woff?32vdtu") format("woff"),
    url("fonts/icons.svg?32vdtu#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

.to-top {
  position: fixed;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 60px;
  height: 60px;
  bottom: 20px;
  border: 1px solid rgba(118, 109, 251, 0.4901960784);
  right: 50px;
  z-index: 300;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
}

.to-top-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

svg path {
  fill: #fff;
}

.skills {
  padding: 0 0 60px 0;
  margin: 100px 0 0 0;
  /* .skills__container */
  /* .skills__header */
  /* .skills__title */
  /* .skills__sub-title */
  /* .skills__body */
  /* .skills__body-list */
  /* .skills__body-item */
  /* .skills__body-logo */
  /* .skills__body-title */
  /* .skills__body-info */
  /* .skills__languages */
  /* .skills__languages-list */
  /* .skills__naguages-title */
  /* .skills__language */
}

.skills__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 55px 0;
}

.skills__title {
  margin: 0 0 10px 0;
}

.skills__sub-title {
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 15px 0;
}

.skills__body-list {
  display: flex;
  flex-direction: column;
}

.skills__body-item {
  display: flex;
  align-items: center;
  padding: 0 0 12px 0;
  justify-content: center;
}

.skills__body-logo {
  width: 100px;
  height: 100px;
  margin: 0 0 20px 0;
  position: relative;
}

.skills__body-logo img {
  max-width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.skills__body-title {
  font-size: 26px;
  font-weight: 700;
  padding: 0 20px 0 0;
}

.skills__body-info {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  padding: 0 30px;
  position: relative;
}

.skills__body-percent {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-color);
  text-align: center;
}

.skills__body-percent code {
  color: var(--sub-color);
}

.skills__body-percent span {
  color: var(--body-color);
  font-weight: 500;
}

.skills__languages {
  padding: 50px 0 0 0;
}

.skills__lnaguages-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 15px 0;
}

.skills__language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills__language-item {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 10px 0;
}

.skills__language-item span {
  margin: 0 0 0 20px;
  color: var(--main-color);
}

.progress_wrapper {
  display: flex;
  width: 100%;
  max-width: 300px;
  font-size: 18px;
  margin: 0 0 0 20px;
}

.progress_line {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  margin: 0 0 0 36px;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.progress_line div {
  display: block;
  width: 0px;
  max-width: 100%;
  height: 100%;
  background-color: var(--body-color);
  position: absolute;
  transition: all 4s ease;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -ms-transition: all 4s ease;
  -o-transition: all 4s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.process {
  color: #ddd;
  margin: 0 0 0 0;
}

.contact {
  margin: 100px 0 0 0;
  /* .contact__wrapper */
  /* .contact__header */
  /* .contact__body */
  /* .contact__info */
  /* .contact__phone */
  /* .contact__email */
  /* .contact__location */
  /* .contact__form */
}

.contact__header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__body {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 60px 0 60px 0;
}

.contact__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}

.contact__info svg {
  width: 50px;
  height: 43px;
}

.contact__info svg path {
  fill: var(--main-color);
}

.contact__form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px;
}

/* ._req */

._req {
  background-color: #edffeb;
}

/* ._email */

.area {
  min-height: 200px;
  max-height: 500px;
  resize: none;
}

.form {
  position: relative;
  width: 100%;
  /* .form__body */
  /* .form__item */
  /* .form__input */
}

.form * {
  outline: none;
  border: none;
}

.form__label-wrapper {
  width: 100%;
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.form__inputs-wrapper {
  display: flex;
  width: 100%;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding: 0 0 20px 0;
}

.form__item {
  display: flex;
  width: 100%;
  margin: 0 0 20px;
  outline: none;
  border: none;
}

.form__input {
  width: 100%;
  padding: 30px 10px;
  box-shadow: 0 0 4px var(--main-color);
  color: inherit;
  font-size: 22px;
  border-radius: 6px;
  background-color: var(--form-bg-color);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.form {
  /* .from__label */
}

.form__label {
  cursor: text;
  text-overflow: ellipsis;
  position: absolute;
  display: block;
  transform: translate(10px, 16px);
  -webkit-transform: translate(10px, 16px);
  -moz-transform: translate(10px, 16px);
  -ms-transform: translate(10px, 16px);
  -o-transform: translate(10px, 16px);
  font-size: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.active_label {
  position: absolute;
  display: block;
  font-size: 16px;
  color: var(--main-color);
  text-shadow: 0 0 3px var(--main-color);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: translate(10px, 0);
  -webkit-transform: translate(10px, 0);
  -moz-transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  -o-transform: translate(10px, 0);
}

.button {
  /* .button__form */
}

.button__form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.button__form svg {
  margin: 0 0 0 10px;
}

.button__form:active {
  top: 3px;
}

.contacts {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

._info {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
}

._info ._info-title {
  font-size: 24px;
  font-weight: 600;
  padding: 0 0 6px 0;
}

._error {
  box-shadow: 0 0 5px red;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.scrollbar {
  position: fixed;
  right: 0;
  width: 8px;
  min-height: 100%;
  background-color: var(--main-color);
}

.scrollbar__line {
  position: relative;
}

.scrollbar__btn {
  width: 30px;
  height: 30px;
  background-color: var(--body-color);
  box-shadow: 0 0 3px black;
  position: absolute;
  top: 100px;
  right: -4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.menu_header {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.menu_icon {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 600;
  margin: 0 20px 0 0;
}

.menu_icon span {
  display: block;
  width: 34px;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.menu_icon span:nth-child(3) {
  margin: 0 0 0 0;
}

.active-burger:first-child {
  background-color: #fff;
  transform: translate(0, 9px);
  -webkit-transform: translate(0, 9px) rotate(45deg);
  -moz-transform: translate(0, 9px);
  -ms-transform: translate(0, 9px);
  -o-transform: translate(0, 9px);
}

.active-burger:nth-child(2) {
  transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
}

.active-burger:last-child {
  background-color: #fff;
  transform: translate(0, -7px) rotate(-45deg);
  -webkit-transform: translate(0, -7px) rotate(-45deg);
  -moz-transform: translate(0, -7px) rotate(-45deg);
  -ms-transform: translate(0, -7px) rotate(-45deg);
  -o-transform: translate(0, -7px) rotate(-45deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--body-color);
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: normal;
  color: var(--body-color);
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 968px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.page {
  flex: 1 1 auto;
  padding: 70px 0 60px 0;
}

.btn_style {
  width: 180px;
  height: 68px;
  padding: 20px 20px;
  background-color: var(--main-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn_style:hover {
  background-color: #09b584;
}

.blocked {
  overflow: hidden;
}

.text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--body-color);
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 136.3636363636%;
  color: var(--body-color);
}

.title-posts {
  font-size: 26px;
  line-height: 146.1538461538%;
  color: var(--body-color);
}

._active {
  color: var(--hover-color);
}

svg {
  width: 30px;
  height: 27px;
  color: #fff;
}

.sub__title {
  font-size: 18px;
  font-weight: 600;
}

._ibg {
  position: relative;
}

._ibg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@font-face {
  font-family: "resume-icons";
  src: url("../fonts/resume-icons.eot?ajwqjl");
  src: url("../fonts/resume-icons.eot?ajwqjl#iefix") format("embedded-opentype"),
    url("../fonts/resume-icons.ttf?ajwqjl") format("truetype"),
    url("../fonts/resume-icons.woff?ajwqjl") format("woff"),
    url("../fonts/resume-icons.svg?ajwqjl#resume-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "resume-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-github:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e903";
}

._icon-home:before {
  content: "\e902";
}

._icon-contact:before {
  content: "\e91f";
}

._icon-works:before {
  content: "\e930";
}

._icon-skills:before {
  content: "\e995";
}

._icon-about:before {
  content: "\e9a2";
}

@media (min-width: 768px) {
  .header__logo:hover {
    color: black;
  }

  .header__links:hover {
    color: var(--hover-color);
  }

  .navigate__btn:hover {
    background-color: var(--hover-color);
  }

  .hello .icon_social:hover {
    color: var(--hover-color);
  }

  .hello__btn:hover {
    background-color: var(--hover-color);
  }

  .about__resume:hover {
    background-color: var(--hover-color);
  }

  .social__item:hover {
    color: var(--hover-color);
  }

  .to-top:hover {
    background-color: var(--hover-color);
  }

  .button__form:hover {
    background-color: var(--hover-color);
  }
}

@media (min-width: 968px) {
  .popup_close_btn-form:hover {
    transform: rotate(225deg);
  }

  .slider__description-btn:hover {
    background-color: var(--hover-color);
  }
}

@media (max-width: 968px) {
  .header__links {
    flex-direction: column;
  }

  .hello__content {
    padding: 0 50px 0 30px;
  }

  .about__content {
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .skills__body-item {
    flex-direction: column;
  }

  .skills__body-title {
    padding: 0 0 15px 0;
  }

  .skills__body-percent {
    padding: 0 0 15px 0;
  }

  .progress_line {
    margin: 0 0 10px 0;
  }

  .menu_header {
    display: flex;
  }
}

@media (max-width: 768px) {
  .popup_main_wrapper {
    align-items: flex-end;
    margin: -160px 0 0 0;
  }

  .header__menu_wrapper {
    display: flex;
    height: 50px;
  }

  .header__logo {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    font-size: 24px;
  }

  .header__nav {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #000;
    overflow: auto;
    z-index: 400;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  .header__ul {
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .header__li {
    margin: 0 0 12px 0;
  }

  .header__li .theme-switcher {
    display: none;
  }

  .header__links {
    font-size: 26px;
    color: #c3c3c3;
  }

  .hello {
    padding: 0 0 70px 0;
  }

  .hello__container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hello__social-links {
    flex-direction: row;
    padding: 60px;
  }

  .hello__social-link {
    padding: 10px;
  }

  .hello__content {
    padding: 0 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hello__avatar {
    margin: 0 0 35px 0;
  }

  .about {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .about__content {
    flex-direction: column;
  }

  .about__wrapper-forimage {
    min-width: 100%;
  }

  .about__img-wrapper {
    flex: 0 0 100%;
  }

  .about__info-text {
    text-align: center;
  }

  .about__experiance {
    justify-content: space-around;
  }

  .about__btn-wrapper {
    justify-content: center;
    align-items: center;
  }

  .to-top {
    right: 15px;
  }

  .contact__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact__body {
    flex-direction: column;
    width: 80%;
  }

  .contact__info {
    width: 100%;
  }

  .form__inputs-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .form {
    padding: 20px 0 0 0;
  }

  .active {
    left: 0;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

@media (max-width: 600px) {
  .slider__sub-container {
    height: 500px;
    padding: 70px 0 0 0;
  }

  .slider__window {
    height: 446px;
  }

  .slider__line {
    height: 80%;
  }

  .slider__body-item {
    flex-direction: column;
  }

  .slider__image-wrapper {
    width: 100%;
    height: 60%;
  }

  .slider__description {
    justify-content: flex-start;
    padding: 22px 0 0 0;
    max-width: 100%;
    height: 60%;
  }

  .slider__description-title {
    font-size: 22px;
  }

  .slider__description-text {
    font-size: 14px;
  }

  .navigate__btns {
    top: -376px;
  }

  .navigate__btns div {
    left: 0;
  }

  .navigate__btn {
    font-size: 20px;
  }

  .navigate__dots {
    left: 0;
    top: -200px;
  }

  .navigate__dots .dots__outside {
    width: 8px;
    height: 8px;
  }

  .hello {
    padding: 0 0 60px 0;
  }

  .hello .icon_social {
    font-size: 32px;
  }

  .hello__title {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    margin: 0 0 20px 0;
  }

  .hello__btn {
    font-size: 16px;
    padding: 12px 10px;
    max-width: none;
  }

  .hello__avatar {
    flex: 0 0 210px;
    height: 210px;
  }

  .hello__avatar_wrapper {
    width: auto;
  }

  .about__info-container {
    padding: 40px 0 0 0;
  }

  .about__experiance-year span {
    font-size: 14px;
  }

  .about__resume {
    font-size: 16px;
    padding: 10px 15px;
  }

  .year {
    font-size: 20px;
  }

  .social__item {
    font-size: 25px;
    font-size: 25px;
  }

  .to-top {
    width: 45px;
    height: 45px;
  }

  svg {
    width: 26px;
    height: 20px;
  }

  .skills__body-title {
    font-size: 18px;
  }

  .skills__body-info {
    font-size: 16px;
  }

  .skills__body-percent {
    font-size: 16px;
  }

  .contact {
    margin: 0 0 0 0;
  }

  .contact__body {
    flex-direction: column;
    width: 100%;
  }

  .contact__info svg {
    width: 45px;
    height: 37px;
  }

  .area {
    min-height: 90px;
  }

  .form__input {
    padding: 19px 10px;
    font-size: 16px;
  }

  .form__label {
    font-size: 12px;
    transform: translate(10px, 9px);
    -webkit-transform: translate(10px, 9px);
    -moz-transform: translate(10px, 9px);
    -ms-transform: translate(10px, 9px);
    -o-transform: translate(10px, 9px);
  }

  .active_label {
    transform: translate(10px, -12px);
    -webkit-transform: translate(10px, -12px);
    -moz-transform: translate(10px, -12px);
    -ms-transform: translate(10px, -12px);
    -o-transform: translate(10px, -12px);
  }

  .button__form {
    font-size: 16px;
  }

  ._info ._info-title {
    font-size: 19px;
  }

  ._info {
    font-size: 14px;
  }

  .page {
    padding: 33px 0 0 0;
  }

  .btn_style {
    width: 148px;
    height: 54px;
    font-size: 15px;
  }

  .text {
    font-size: 16px;
  }

  .title {
    font-size: 34px;
  }

  .title-posts {
    font-size: 18px;
  }
}
